name: Update Ubuntu ISO URL

on:
  schedule:
    - cron: '0 2 * * *' # Run this action once a day
  workflow_dispatch:

jobs:
  update-iso-url:
    name: Update ISO URL
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4

      - name: Get latest Ubuntu 22.04 ISO URL
        id: get_url
        run: |
          python .github/scripts/get_latest_iso_url.py
        env:
          GITHUB_OUTPUT: latest_iso_url

      - name: Update Packer configuration
        run: |
          latest_iso_url=${{ steps.get_url.outputs.latest_iso_url }}
          while IFS= read -r line
          do
            if [[ "$line" == *ubuntu-22.04.* ]]
            then
              iso_url=$(echo "$line" | awk -F\" '{print $2}')
              echo "iso_url: $iso_url, latest_iso_url: $latest_iso_url"
              sed -i "s|$iso_url|$latest_iso_url|" packer/sources.pkr.hcl
            fi
          done < <(grep "iso_url" packer/sources.pkr.hcl)

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: 'feat: update ubuntu iso url'
          title: 'feat: update ubuntu iso url'
          body: 'Update Ubuntu 22.04 ISO URL following release for Packer to function correctly.'
          branch: 'update-iso-url'
          labels: 'auto-update,packer'
          assignees: 'thehedgefrog'
          reviewers: 'thehedgefrog'
